@model PostUrlVM

@{
    ViewData["Title"] = "welcome! please log in.";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">welcome to short.er!</h3>
                </div>
                <div class="card-body">
                    <p>please log in to start shortening links.</p>
                    <p>shorten your links however you like!</p>
                    <p>choose individual or randomly generated shortlinks.</p>
					<p>share them with your friends!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features" id="features">
    <div class="container">
        <div class="url-shorten-feature">
            <form class="url-shorten-form" id="url-shorten-form"
            asp-controller="Home" asp-action="Shorten">
            <div>
                <input type="text" class="url-input" name="urlToShorten" placeholder="paste your link here" />
                <span class="alert"></span>
            </div>
            <button type="submit" class="btn btn-lg" style="">shorter!</button>
        </form>
        </div>
    </div>
</section>