html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Landing {
    background-color: #f8f9fa; /* Light gray background */
    min-height: 100vh; /* Full height */
    display: flex;
    align-items: center;
}

#space5p {
    padding: 5px;
}

.form-header {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.form-group {
    font-weight: 600;
}